# .dockerignore
/.idea
/.github
.next
.dccache
.run

coverage/
infrastructure/
helm/

node_modules

**/deploy
**/dist
**/*.tsbuildinfo
**/test-results

junit.xml
.env*
.vscode
.DS_Store
.pnpm-debug.log
*.txt
*.dat
*.sqlite
*.db
/.history